<!DOCTYPE html>
<html lang="en">
<head>
  <title>TWIDDER</title>
  <link rel="stylesheet" type="text/css" href="static/client.css">
  <script src="static/client.js"></script>
  <script src="static/serverstub.js"></script>
  <script>
  window.onload = synchronizeView;
</script>
<template id="welcomeView">
  {% include 'welcomeView.html' %}
</template>
<template id="headerViewTemplate">
  {% include 'headerView.html' %}
</template>
<template id="loggedInViewTemplate">
  {% include 'loggedInView.html' %}
</template>
</head>
<body>
  <div id="headerContainer"></div>
  <div id="viewContainer"></div>
</body>
</html>