<div>
  <fieldset>
    <div id = 'tabsDiv'>
      <div>
        <input type="radio" id="home" name="tab" value="homeView" onclick="synchronizeView()" checked="checked">
        <label for="home">Home</label>
      </div>

      <div>
        <input type="radio" id="browse" name="tab" value="browseView" onclick="synchronizeView()">
        <label for="browse">Browse</label>
      </div>

      <div>
        <input type="radio" id="account" name="tab" value="accountView" onclick="synchronizeView()">
        <label for="account">Account</label>
      </div>
    </div>
  </fieldset>
</div>