body {
  background-color: rgb(99, 142, 191);
}

#welcomeContainer {
  margin: auto;
  width: 600px;
  height: 400px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 340px 250px;
}

#forms {
  display: grid;
  row-gap: 10px;
  grid-template-rows: 95px 295px;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin : auto;
}

#forms > div, #welcomeLogo {
    border: 0px solid black;
    background-color: white;
    display: grid;
    place-items: center;
}

.formLabelInput {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}

.formLabelInput input {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

#signupLabel {
  display: grid;
  place-items: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
.submitButton {
  float: right;
}

#signupDiv {
  display: grid;
  grid-template-rows: 20% 80%;
}