
#welcomeContainer {
  margin: auto;
  width: 600px;
  height: 400px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 340px 250px;
  border: 5px solid gray;
}

#forms {
  display: grid;
  row-gap: 10px;
  grid-template-rows: 100px 400px;
    border: 5px solid red;

}

#forms div {
    border: 5px solid blue;
}
#signupDiv {
  display: grid;
}

.formLabelInput {
  border: 1px solid black;
}

