
#welcomeContainer {
  margin: auto;
  width: 600px;
  height: 500px;

  display: grid;
  grid-template-columns: 340px 250px;
  border: 5px solid gray;
}

#forms {
  display: grid;
  grid-template-rows: 100px 400px;
}

#signupDiv {
  display: grid;
  grid-template-columns:fit-content(100%);
  border: 5px solid red;
}

.formLabelInput {
  border: 1px solid black;
}

