body {
  background-color: rgb(47, 152, 217);
}

#welcomeContainer {
  margin: auto;
  width: 600px;
  height: 400px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 340px 250px;
}


#forms {
  display: grid;
  row-gap: 10px;
  grid-template-rows: 95px 295px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#forms > div, #welcomeLogo {
    border: 2px solid black;
    background-color: white;
}

.formLabelInput {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}

.formLabelInput input {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

#signupLabel {
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}
.submitButton {
  float: right;
}
