
#welcomeContainer {
  margin: auto;
  width: 600px;
  height: 400px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 340px 250px;
  border: 1px solid gray;
}

#forms {
  display: grid;
  row-gap: 10px;
  grid-template-rows: 100px 400px;
  height: 100%;
  overflow: auto;
}

#forms > div {
    border: 1px solid gray;
}

.formLabelInput {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
}

.submitButton {
  float: right;
}
